:root {
    --white: #f8fafc;
    --offwhite: #f0f9ff;
    --gray: #cbd5e1;
    --accent1: #0ea5e9;
    --accent1-light: #f0f9ff;
    --accent2: #eab308;
    --orange: #f59e0b;
    --orange-alpha: #f59e0b80;
    --amber: #f59e0b;
    --amber-alpha: #f59e0b80;
    --black: #0f172a;
    --offblack: #0f172a;
    --red: indianred;
}

body {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black, black);

    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "sidebar top"
        "sidebar bottom";
}

/* ============================ Sidebar ============================ */
/* ================================================================= */
.container.sidebar {
    grid-area: sidebar;
    background-color: var(--accent1);
    color: var(--white);

    padding: 1rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(8, min-content);
    gap: 1rem;
}
.sidebar>.double {grid-column: span 2;}
.sidebar>button {justify-self: center;}
.sidebar>input[type="checkbox"] {justify-self: start;}


/* ============================== Top ============================== */
/* ================================================================= */
.container.top {
    grid-area: top;
    background-color: var(--white);
    box-shadow: 4px 4px 4px #0003;
    z-index: 1;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.container.toggles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container.toggles>label {display: flex; align-items: center}
.container.stats {
    flex: 1;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "book-counter book-meter"
        "page-counter page-meter";
    padding: 10px;
    column-gap: 10px;
    row-gap: 5px;
}
#book-counter {grid-area: book-counter; align-self: end;}
#book-meter-container {grid-area: book-meter; align-self: end;}
#page-counter {grid-area: page-counter; align-self: start;}
#page-meter-container {grid-area: page-meter; align-self: start;}

/* ============================== Bot ============================== */
/* ================================================================= */
.container.bottom {
    grid-area: bottom;
    background-color: var(--gray);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card {
    background-color: var(--white);
    height: 200px;
    border-radius: 10px;
    border-left: 8px solid var(--accent2);
    padding: 10px;
    box-shadow: 4px 4px 4px #0003;

    display: grid;
    grid-template-columns: 1fr 20px 20px 20px;
    grid-template-rows: 1fr 4fr 20px;
    grid-template-areas:
    "title pages pages pages"
    "summary summary summary summary"
    ". read favorite delete";
    gap: 10px;
}
.card>.title {grid-area: title; font-weight: 700;}
.card>.pages {grid-area: pages; justify-self: end; opacity: 0.5;}
.card>.pages::after {content: 'pg';}
.card>.summary {
    grid-area: summary;
    color: var(--offblack);
    font-size: 16px;
    overflow: auto;
}
.card>.svg {background-color: var(--black); opacity: 0.5;}
.card>.read {
    grid-area: read;
    -webkit-mask-image: url(img/eye-outline.svg);
    mask-image: url(img/eye-outline.svg);
}
.card>.favorite {
    grid-area: favorite;
    -webkit-mask-image: url(img/star-outline.svg);
    mask-image: url(img/star-outline.svg);
}
.card>.delete {
    grid-area: delete;
    background-color: indianred;
    -webkit-mask-image: url(img/close-circle.svg);
    mask-image: url(img/close-circle.svg);
}
.card>.read.toggled {
    background-color: green;
    -webkit-mask-image: url(img/eye.svg);
    mask-image: url(img/eye.svg);
}
.card>.favorite.toggled {
    background-color: darkgoldenrod;
    -webkit-mask-image: url(img/star.svg);
    mask-image: url(img/star.svg);
}
.card>.read,
.card>.favorite,
.card>.delete {opacity: 0.5;}
.card>.read:hover,
.card>.favorite:hover,
.card>.delete:hover {opacity: 1;}

/* ============================ Styling ============================ */
/* ================================================================= */
button {
    background: linear-gradient(to bottom right, var(--orange), var(--amber));
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.5;
    text-shadow: 1px 1px 2px  #0004;

    padding: 0 1rem;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #0004;
}
button:hover {
    box-shadow: 0 0 4px #0008,
    -2px -2px 16px var(--orange-alpha),
     2px 2px 16px var(--amber-alpha);
}
input,
textarea {
    background-color: var(--accent1-light);
    border: 1px solid #0004;
    box-shadow: 2px 2px 2px #0002;
    border-radius: 5px;
}
textarea {resize: none;}
input[type="checkbox"] {width: 20px; height: 20px;}

.meter {
    height: 20px;
    width: 200px;
    background-color: var(--offwhite);
    border: 1px solid var(--black);
    border-radius: 20px;
    padding: 3px;
    box-shadow: inset 0 -2px 2px #0003;
}
.meter > span {
    display: block;
    height: 100%;
    background-color: var(--accent1);
    border-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow:
        inset 0 2px 9px #fff3,
        inset 0 -2px 6px #0003;
    overflow: hidden;
}
