:root {
    --white: #f8fafc;
    --offwhite: #f0f9ff;
    --gray: #94a3b8;
    --accent1: #0ea5e9;
    --accent2: #eab308;
}

body {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 25% 75%;
}

.container.top {
    background-color: var(--offwhite);
    box-shadow: 4px 4px 4px #0003;
    z-index: 1;
    padding: 20px;
}

.container.form {
    width: 50%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "title-label title-input button"
        "summary-label summary-input .";
    gap: 20px;
}
label[for="title"] {grid-area: title-label;}
input#title {grid-area: title-input;}
label[for="summary"] {grid-area: summary-label;}
textarea#summary {grid-area: summary-input;}
button#add-book {grid-area: button;}

input,
textarea {
    background-color: var(--white);
}
button {
    background-color: var(--accent1);
    padding: 4px 8px;
    color: var(--white);
    font-weight: bold;
}

.container.bottom {
    background-color: var(--gray);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    z-index: 0;
}

.card {
    background-color: var(--white);
    height: 200px;
    border-radius: 10px;
    border-left: 8px solid var(--accent2);
    padding: 10px;
    box-shadow: 4px 4px 4px #0003;
}