:root {
    --white: #f8fafc;
    --offwhite: #f0f9ff;
    --gray: #cbd5e1;
    --accent1: #0ea5e9;
    --accent1-light: #f0f9ff;
    --accent2: #eab308;
    --black: #0f172a;
    --offblack: #0f172a;
    --red: indianred;
}

body {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black, black);

    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "sidebar top"
        "sidebar bottom";
}

/* ============================ Sidebar ============================ */
/* ================================================================= */
.container.sidebar {
    grid-area: sidebar;
    background-color: var(--accent1);
    color: var(--white);

    padding: 1rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(8, min-content);
    gap: 1rem;
}
.sidebar>.double {grid-column: span 2;}
.sidebar>button {justify-self: center;}
.sidebar>input[type="checkbox"] {justify-self: start;}


/* ============================== Top ============================== */
/* ================================================================= */
.container.top {
    grid-area: top;
    background-color: var(--offwhite);
}

/* ============================== Bot ============================== */
/* ================================================================= */
.container.bottom {
    grid-area: bottom;
    background-color: var(--gray);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card {
    background-color: var(--white);
    height: 200px;
    border-radius: 10px;
    border-left: 8px solid var(--accent2);
    padding: 10px;
    box-shadow: 4px 4px 4px #0003;
}